link:
  forward: TIO_000034
  reverse: TIO_000035
  file: sample.tsv
update:
  frequency: Bimonthly
  method: awk -F "\t" '$1&&$5&&!a[$1, $5]++{print $1 "\t" $5}' $TOGOID_ROOT/input/refseq/refseq_rna_summary.tsv
