link:
  forward: TIO_000063
  reverse: TIO_000062
  file: sample.tsv
update:
  frequency: Bimonthly
  method: awk -F "\t" '$1&&$10{split($10, b, ","); for(k in b){if(!a[$1, b[k]]++)print $1 "\t" b[k]}}' $TOGOID_ROOT/input/refseq/refseq_rna_summary.tsv
