link:
  forward: TIO_000032
  reverse: TIO_000033
  file: sample.tsv
update:
  frequency: Bimonthly
  method: awk -F "\t" '$1&&$9{split($9, b, ","); for(k in b){if(!a[$1, b[k]]++)print $1 "\t" b[k]}}' $TOGOID_ROOT/input/refseq/refseq_rna_summary.tsv
