link:
  forward: TIO_000064
  file: sample.tsv
  reverse: TIO_000065
update:
  frequency: Bimonthly
  method: awk -F "\t" '$1&&$3&&!a[$1, $3]++{print $1 "\t" $3}' $TOGOID_ROOT/input/refseq/refseq_rna_summary.tsv
